.oculto{
  display:none;
}

#contenedor{
  width: 80%;
  margin: 15px auto;
  animation-name: contenedor-animacion;
  animation-duration: 1s;
}

@keyframes contenedor-animacion {
0% {
  margin-top:10%;  
}
50% {
  margin-top:-1%;  
}
100% {
  margin-top: 0%;
}
}

.titulo{
  color:white!important;
  font-size: 30px; 
  height: 50px;  
}
.criterorigen {  
  /* height: 30px!important; */
  width: 50px!important;  
}

select{
  display: inline-block!important;
}
.cajas{
  /* /width: 100%; */
  margin-top: 12px;
  margin-right: 50px!important;
  /* padding: 10px !important; */
  border-width: 1px;  /*0px0px01px:;  */
  border-radius: 5px;
  border-color: #1987a0;
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 3px 8px 0 rgba(0,0,0,0.19); 
}

.cuadro{
  margin: 20px !important;  
  border-width: 1px;  /*0px0px01px:;  */
  border-radius: 5px;
  border-color: #1987a0;
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 3px 8px 0 rgba(0,0,0,0.19);  
}
.btn, .borrar{ 
  /* width:10px!important;  */
  padding: 0px 1rem!important;
  text-transform: none!important;
}
.colder{
  padding-top: 100px !important;  
  text-align: center;
}
.col{
 margin: auto !important;
}
.item{
  width:30px;
}
th{
  text-align: center!important;
   
}
 td{   
 padding: 2px 2px!important; 
 text-align: center!important;
}

.descripcion {
  width: 400px!important;
  text-align: left!important;
}

.denoMerca {
  width: 320px!important;
  text-align: left!important;
}
.texto-izq{
  text-align: left!important;
}
.anchoDeno{
  width:450px;
}
.anchoNormas{
  width:25%;  
}
/* #tblresultado {
   width: 80%!important; 
} */

.observaciones{
  border:1px solid #73d9f0!important;
  border-radius: 5px;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.secc12  {   
  
  height: 385px!important; 
   /* height: 100%!important;  */
}
.seccionboton{
  margin-top:50px;
}

.valorfactura{
  text-align: right;
  width: 100px!important;
}
.btagregar{
  text-transform: capitalize!important;
  padding: auto!important;
  margin: 0 auto!important;
  text-transform: full-width!important;
  width: 180px;
  
}
.borde{
  border-radius: 15px!important;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

 .cuadrado{
  position:fixed;
  width:100%;   
  background-color:rgb(224, 144, 144);
  height: 10px;
  z-index: 100;
}
/*input:not([type]){} */

#footer {
   position:fixed;
   left:0px;
   bottom:0px;   
   width:100%;   
   z-index: 999;
}

.fechams{
/* height: 25px!important; */
width: 136px!important;
}
/* .bortabla, th, td{
  border: 1px solid black!important;
} */

.mayusc, input:not([type]), input[type=text], input[type=email], input[type=url], input[type=time], input[type=date], textarea{
  margin: 0px!important;
  text-transform: uppercase;  
}
.minusc{
  text-transform: lowercase!important;
}
#estado{
font-size: 25px;
font-weight: bold;
color: midnightblue;
}
.titulodos{  
  font-size: 22px;
  color:white!important;
  text-shadow:0 2px 3px 0 rgba(189, 15, 15, 0.2), 0 3px 8px 0 rgba(197, 20, 20, 0.19)!important;   
}
.editando{
  background-color:yellow!important;
}

/*********************************/
